@import "src/assets/css/breakpoints";
.catalogue {
  @media only screen and (min-width: $mobile) {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap: 1.5rem;
  }

  &__categories {
    @media only screen and (min-width: $mobile) {
      background-color: var(--color-grey);
    }
  }
}
