@import "src/assets/css/breakpoints";
:root {
  --color-theme: #ff5722;
  --color-white: #fff;
  --color-header: #fff;
  --color-sidebar: #3c4962;
  --header-height: 98px;
  --sidebar-width: 14rem;
  --input-border: 2px solid rgba(0, 0, 0, 0.25);
  --shadow: 0 2px 12px 0 rgb(0 0 0 / 6%);
  --underline: 1px solid #f0f0f0;
  --default-text-color: #171725;
  --color-grey: #f0f0f0;
}
@media screen and (max-width: $mobile) {
  :root {
    --header-height: 52px;
  }
}
