<div class="products">
  <ng-container
    *ngFor="let product of products; let i = index; trackBy: productTracker"
  >
    <div class="product" aria-label="product view">
      <h5 class="product__title">{{ product.name }}</h5>
      <figure class="product__imgbox">
        <img
          [src]="product.imageURL"
          [alt]="product.description"
          class="product__img"
          width="100%"
          loading="lazy"
        />
      </figure>
      <p class="product__description ellipsis">{{ product.description }}</p>
      <p class="product__price mb-0">MRP Rs {{ product.price }}</p>
      <button
        type="button"
        class="flex-grow-1"
        aria-label="add product to cart"
        mat-raised-button
        color="primary"
        (click)="addToCart(product)"
      >
        Buy Now
      </button>
    </div>
  </ng-container>
</div>
