<header class="header" aria-label="header">
  <div class="h-100 d-flex justify-content-between align-items-center">
    <div class="header__left d-flex" aria-label="Left Navigation">
      <img
        src="assets/images/logo.png"
        width="100%"
        height="100%"
        alt="Sabka Bazaar Logo"
      />
      <nav class="align-self-end">
        <a href="" class="header__links" aria-label="Go To Home Page">Home</a>
        <a href="" class="header__links" aria-label="Go To Products Page"
          >Products</a
        >
      </nav>
    </div>
    <div class="header__right" aria-label="Right Navigation"></div>
    <div class="header__menu" aria-label="Dropdown for mobile screen"></div>
  </div>
</header>
