@import "src/assets/css/breakpoints";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-header);
  box-shadow: var(--shadow);
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 1rem;
  z-index: 100001;
  border-bottom: var(--underline);

  &__left {
    nav {
      margin-left: 4rem;
    }
  }

  &__links {
    color: var(--default-text-color);
    padding: 10px;
    text-decoration: none;

    &--active {
      background-color: var(--color-grey);
    }
  }

  &__logo {
    max-height: 83px;

    @media only screen and (max-width: $mobile) {
      width: 85px;
    }
  }

  &__cart {
    padding: 10px 20px;
    background-color: var(--color-grey);
    cursor: pointer;
  }
}
