<header class="header" aria-label="header">
  <div class="h-100 d-flex justify-content-between justify-content-sm-evenly">
    <div
      class="header__left d-flex align-items-center"
      aria-label="Left Navigation"
    >
      <div aria-label="Logo Container">
        <img
          src="assets/images/logo.png"
          class="header__logo"
          width="100%"
          height="100%"
          alt="Sabka Bazaar Logo"
        />
      </div>
      <nav class="d-none d-sm-flex">
        <a
          [routerLink]="['/app/home']"
          routerLinkActive="header__links--active"
          class="header__links"
          aria-label="Go To Home Page"
          >Home</a
        >
        <a
          [routerLink]="['/app/products']"
          routerLinkActive="header__links--active"
          class="header__links"
          aria-label="Go To Products Page"
          >Products</a
        >
      </nav>
    </div>
    <div class="header__right d-flex flex-column" aria-label="Right Navigation">
      <nav class="d-none d-sm-flex flex-grow-1">
        <a
          [routerLink]="['/app/onboarding/login']"
          class="header__links"
          aria-label="Go To Home Page"
          >SignIn</a
        >
        <a
          [routerLink]="['/app/onboarding/signup']"
          class="header__links"
          aria-label="Go To Products Page"
          >Register</a
        >
      </nav>
      <div
        class="
          header__cart
          d-flex
          justify-content-center
          align-items-center
          flex-grow-1
        "
        aria-label="cart"
      >
        <mat-icon aria-hidden="true" color="primary">shopping_cart</mat-icon>
        <span class="ms-2">0 Items</span>
      </div>
    </div>
  </div>
</header>
